name: Java CI 

on:
  push:
    branches: [ "แล้วแต่เรย" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        fetch-depth: ${{ env.PR_FETCH_DEPTH }}
  
    - name: Set up JDK
      uses: actions/setup-java@v1
      with: 
        java-version: '17'

    - name: Compile Java
      run: |
        cd [Your Branch]/HolidayTravelVehicles 
        javac -d . *.java
